<link rel="stylesheet" href="/footer.css" />
<div class="footer">
  <a href="https://github.com/PierreGronnier" target="_blank">
    <img src="/github.png" alt="GitHub" style="width: 24px; height: 24px" />
  </a>
  <span>Odin Project | Mini Message Board</span>
</div>
