<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h1>Mini message board</h1>
    <a href="/new">New</a>
    <% messages.forEach((message, index) => { %>
    <p><%= message.user %></p>
    <p><%= message.text %></p>
    <p><%= message.added %></p>
    <a href="/message/<%= index %>">Open</a>
    <% }); %>
  </body>
</html>
